div.css-6qob1r.eczjsme3 {
    background-color: #C5B783;
    color: #000000;
}

span.css-pkbazv.eczjsme5 {
    background-color: #C5B783;
    color: #000000;
    font-weight: bold;
}

span.css-17lntkn.eczjsme5 {
    background-color: #C5B783;
    color: #000000;
}

section.main.css-uf99v8.ea3mdgi5 {
    background-color: #00205B;
    color: #FFFFFF;
}

span.css-10trblm.e1nzilvr1 {
    background-color: #00205B;
    color: #FFFFFF;
}

